---
---
// BOOTSTRAP
// Core variables and mixins
@import "bootstrap-overrides";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Reset and dependencies
@import "normalize";

// Core CSS
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";

// WILDLY INACCURATE
// @import "global";

@import "component/ads";
@import "component/blockquote";
@import "component/button";
@import "component/code";
@import "component/footer";
@import "component/image";
@import "component/layout";
@import "component/list";
@import "component/page-header";

@import "utilities";
