title: Wildly Inaccurate
description: >
  A collection of guides &amp; opinions about programming and the state of the web, from a developer at BBC News.

url: https://wildlyinaccurate.com
permalink: /:title/

category_dir: category
tag_dir: tag

excerpt_separator: <!--more-->
paginate: 15

email: joseph@wildlyinaccurate.com
twitter_username: joseph_wynn
github_username:  wildlyinaccurate

gems:
  - jekyll-responsive-image
  - jekyll-paginate
  - jekyll-last-modified-at

responsive_image:
  default_quality: 75
  template: _includes/thumbnail.html
  sizes:
    # 320px devices
    - width: 320
      quality: 65

    # 360px devices
    - width: 360
      quality: 65

    # Container width on S devices
    - width: 720

    # Container width on M devices
    - width: 940

    # Container width on L devices
    - width: 1140

    # Common device widths (minus ~80px allowance for UI) for full-width images
    - width: 1280
    - width: 1360
    - width: 1680
    - width: 1840

markdown: kramdown
highlighter: rouge
kramdown:
  toc_levels: 1..3
  input: GFM

include:
  - search.json

exclude:
  - README.md
  - bower_components
  - bower.js
  - Gemfile
  - Gemfile.lock
  - Gruntfile.js
  - node_modules
  - package.json
  - elm
  - elm-stuff
