title: Wildly Inaccurate
description: >
  A collection of guides &amp; opinions about programming and the state of the web, from a developer at BBC News.

url: https://wildlyinaccurate.com
permalink: /:title/

category_dir: category
tag_dir: tag

excerpt_separator: <!--more-->
paginate: 15

email: joseph@wildlyinaccurate.com
twitter_username: joseph_wynn
github_username:  wildlyinaccurate

plugins:
  - jekyll-responsive-image
  - jekyll-paginate
  - jekyll-last-modified-at

responsive_image:
  cache: true
  default_quality: 75
  template: _includes/thumbnail.html
  output_path_format: assets/r/%{width}/%{basename}
  sizes:
    # Widths that match the image size at various device widths and breakpoints

    # iPhone 6 (375px)
    - width: 345
      quality: 60
      progressive: true

    # iPhone 6 plus (414px)
    - width: 384
      quality: 60
      progressive: true

    # SM breakpoint (576px)
    - width: 514
      progressive: true

    # XS breakpoint (<576px; larger than SM because gutters shrink)
    - width: 545
      progressive: true

    # MD breakpoint (768px)
    - width: 706
      progressive: true

    # LG breakpoint (960px)
    - width: 898
      progressive: true

    # Everything else is pretty much for featured images
    - width: 1280
      progressive: true

    - width: 1366
      progressive: true

    - width: 1440
      progressive: true

    - width: 1680
      progressive: true

  extra_images:
    - assets/brachiosaurus.png

markdown: kramdown
highlighter: rouge
kramdown:
  toc_levels: 1..3
  input: GFM

include:
  - search.json

exclude:
  - README.md
  - bower_components
  - bower.js
  - Gemfile
  - Gemfile.lock
  - Gruntfile.js
  - node_modules
  - package.json
  - elm
  - elm-stuff
