---
layout: default
page_label: home
---

{% include index-page-header.html %}

<section class="wrap">
    {% for post in paginator.posts %}
        {% include post-summary.html %}
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div>
            {% if paginator.previous_page %}
                <a class="btn p-3" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}">&#8592; Newer Posts</a>
            {% endif %}

            {% if paginator.next_page %}
                <a class="btn p-3" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older Posts &#8594;</a>
            {% endif %}
        </div>
    {% endif %}
</section>
