<nav class="p-a w-100">
    <div class="c">
        <a href="{{ site.url }}" class="navbar__title navbar__link">Wildly Inaccurate</a>

        <ul class="navbar-nav">
        {% for page in site.pages %}
            {% if page.title and page.navigation == 'main' %}
            <li class="navbar-nav__item">
                <a class="navbar-nav__item-link navbar__link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</nav>
