{% capture srcset %}
    {%- for i in resized -%}
        {% if i.width <= 1250 %}/{{ i.path }} {{ i.width }}w|{% endif %}
    {%- endfor -%}
{% endcapture %}

<div class="my-4 ta-c outset">
    {% if url %}<a href="{{ url }}">{% endif %}
        <img
            alt="{{ alt }}"
            src="/{{ path }}"
            {% if original.width <= 1250 %}width="{{ original.width }}"{% endif %}
            srcset="{{ srcset | split: '|' | join: ', ' }}{% if original.width <= 1250 %}, /{{ path }} {{ original.width }}w{% endif %}">
    {% if url %}</a>{% endif %}

    {% if alt %}
    <div class="c-gl caption">
        <small><i>{{ alt }}</i></small>
    </div>
    {% endif %}
</div>
