<div class="my-4 ta-c outset">
    {% if url %}<a href="{{ url }}">{% endif %}
    <img alt="{{ alt }}" src="/{{ path }}" {% if original.width < 880 %}width="{{ original.width }}"{% endif %}
         srcset="{% for i in resized %}{% if i.width < 900 %}/{{ i.path }} {{ i.width }}w{% if forloop.last != true %}, {% endif %}{% endif %}{% endfor %}">
    {% if url %}</a>{% endif %}

    {% if alt %}
    <div class="c-gl caption">
        <small><i>{{ alt }}</i></small>
    </div>
    {% endif %}
</div>
