#carbonads {
    max-width: 200px;
    padding-top: ceil($paragraph-spacing / 2);
    text-align: center;
}

#carbonads,
.carbon-img > img {
    margin: 0 auto;
}

.carbon-text,
.carbon-poweredby {
    color: $color-secondary;
    display: block;
    font-size: $font-size-xs;
    margin-top: ceil($font-size-xs / 2);
}
