code,
pre {
    background: $code-bg;
    font-size: 85%;
}

code {
    padding: 6px;
}

pre {
    border: $code-border;
    line-height: 1.25;
    padding: (ceil($paragraph-spacing * 0.75)) $paragraph-spacing;

    code {
        padding: 0;
    }
}
