%primary-button {
    background-color: rgba($color-primary, 1);
    color: $color-primary-contrast;
    padding: 16px 22px;

    &:hover,
    &:focus {
        background-color: rgba($color-primary, 0.8);
        color: $color-primary-contrast;
        text-decoration: none;
    }
}
