// Add a transition animation to all links
a {
  transition-duration: 0.3s;
}

// Pad headings for readability
h1, h2, h3, h4, h5, h6 {
  padding-top: 1rem;
}

// Smaller screens don't need such a large font
$small-screen-font-size-modifier: 0.9;

@include media-breakpoint-down(xs) {
  html {
    font-size: $font-size-root * $small-screen-font-size-modifier;
  }

  h1 {
    font-size: $font-size-h1 * $small-screen-font-size-modifier;
  }
}
