@mixin selection {
    background-color: $color-primary;
    color: $color-primary-contrast;
}

::-moz-selection {
    @include selection;
}

::selection {
    @include selection;
}

img {
  @include img-responsive;
}

a {
    @include transition-duration(0.4s);
}

p {
    margin-bottom: 24px;
}
