.btn {
  background: $brand-primary;
  color: $white;
  display: inline-block;
  font-family: $font-family-sans-serif;

    &:hover,
    &:focus {
      background: rgba($brand-primary, 0.8);
      color: $white;
    }
}

.btn--inverse {
  background: rgba($white, 0.67);
  color: $brand-primary;

    &:hover,
    &:focus {
      background: rgba($white, 0.4);
    }
}
