pre, code {
  background: $gray-100;
  font-size: $code-font-size;
}

pre {
  font-size: $code-font-size;
}

code {
  padding: ($spacer / 3) ($spacer / 2);
}

pre {
  padding: $spacer;

  code {
    padding: 0;
  }
}

[class*="language-"] pre {
  &, code {
    background: $gray-900;
  }
}
