code,
pre {
  background: $code-bg;
  font-size: $font-size-sm;
}

code {
  padding: $code-padding-y $code-padding-x;
}

pre {
  padding: ($code-padding-y * 2) ($code-padding-x * 2);

  code {
    padding: 0;
  }
}
