.filters {
    list-style: none;
    padding: 0;
    margin-bottom: $navbar-margin-bottom;
}

.filter {
    display: inline-block;
    margin: 5px 5px 5px 0;

    input[type="checkbox"] {
        margin-right: 5px;
    }
}

.item-tag {
    font-family: $font-family-sans-serif;
    margin-left: 5px;
}
