.wrap,
.post-content > * {
  @include make-container();
  @include make-container-max-widths();
}

.post-content > ul,
.post-content > ol, {
	padding-left: $grid-gutter-width * 1.5;
}

.outset {
  width: 1280px;
  max-width: 90%;
}

@include media-breakpoint-down(sm) {
  .outset {
    max-width: 100%;
  }
}
