.navbar {
    font-family: $font-family-sans-serif;
    margin-bottom: $navbar-padding-y;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar__title {
    @extend %primary-button;

    float: left;
    font-size: $font-size-lg;
    font-weight: bold;
}

.navbar-nav {
    float: right;
    margin: 0;
    padding: 0;
}

.navbar-nav__item {
    float: left;
    list-style: none;
}

.navbar-nav__item-link {
    background: rgba($color-primary-contrast, 0.6);
    display: block;
    padding: 20.5px 22px;

    &:hover,
    &:focus {
        background: rgba($color-primary-contrast, 0.45);
        color: $color-primary-contrast;
        text-decoration: none;
    }
}

@include media-breakpoint-down(sm) {
    .navbar-nav__item-link {
        padding-bottom: 22px;
        padding-top: 21px;
    }
}

// @media (max-width: $screen-xs-max / 2) {
//     .navbar-nav__item-link {
//         padding: 10px 12px;
//     }
// }
