<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
            }

            var i
            if (i = document.querySelector('article img')) {
                i.setAttribute('elementtiming', 'lead-image')
            }

            {% if page.page_label %}
            LUX.label = '{{page.page_label}}'
            {% elsif layout.page_label %}
            LUX.label = '{{layout.page_label}}'
            {% elsif page.layout %}
            LUX.label = '{{page.layout}}'
            {% endif %}
        </script>

        <script src="https://cdn.usefathom.com/script.js" site="TZQVTUWX" defer></script>

        <script>
            (function() {
                var s, c, p, a

                s = document.createElement('script')
                s.async = 1
                s.defer = 1
                s.src = 'https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=wildlyinaccuratecom'
                s.id = '_carbonads_js'

                c = document.createElement('small')
                c.className = 'ta-c'
                c.appendChild(s)

                p = [].slice.apply(document.querySelectorAll('article > p')).slice(0, 4).pop()

                if (p) {
                    p.parentNode.insertBefore(c, p)
                } else {
                    p = document.querySelector('article')
                    p.insertBefore(c, p.firstChild)
                }
            })()
        </script>
    </body>
</html>
