<!doctype html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        {{ content }}
        {% include footer.html %}

        <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/service-worker.js')
            }

            {% if page.page_label %}
            LUX.label = '{{page.page_label}}'
            {% elsif layout.page_label %}
            LUX.label = '{{layout.page_label}}'
            {% elsif page.layout %}
            LUX.label = '{{page.layout}}'
            {% endif %}
        </script>

        <script>
            (function() {
                var s, p, n, a;

                s = document.createElement('script');
                s.async = 1;
                s.defer = 1;
                s.src = 'https://cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=wildlyinaccuratecom';
                s.id = '_carbonads_js';

                p = document.createElement('small');
                p.className = 'ta-c';
                p.appendChild(s);

                n = document.querySelector('article > p:nth-of-type(3)');

                if (n) {
                    n.parentNode.insertBefore(p, n.nextSibling);
                } else {
                    n = document.getElementsByTagName('article')[0];
                    n.parentNode.insertBefore(p, n.nextSibling);
                }
            })();
        </script>
    </body>
</html>
