---
layout: default
---

<header class="page-header">
    {% if page.featured_image %}
        {% assign featured_image = page.featured_image %}
    {% else %}
        {% assign featured_image = 'assets/default-featured-image.jpg' %}
    {% endif %}

    {% responsive_image_block %}
        path: {{ featured_image }}
        template: _includes/featured-image.html
    {% endresponsive_image_block %}

    <div class="container">
        <h1 class="page-header__title">{{ page.title }}</h1>
        <p class="page-header__meta">
            {{ page.date | date: "%b %-d, %Y" }}

            {% if page.author %}
                • by {{ page.author }}
            {% endif %}

            {% if page.meta %}
                • {{ page.meta }}
            {% endif %}
        </p>
    </div>
</header>

<article class="post-content">
    {{ content }}
</article>
