---
layout: default
---

<header class="page-header">
    {% if page.featured_image %}
        {% assign featured_image = page.featured_image %}
    {% else %}
        {% assign featured_image = 'assets/default-featured-image.jpg' %}
    {% endif %}

    {% responsive_image_block %}
        path: {{ featured_image }}
        template: _includes/featured-image.html
    {% endresponsive_image_block %}

    <div class="container">
        <h1 class="page-header__title">{{ page.title }}</h1>
        <p class="post-meta--header">
            {{ page.date | date: "%b %-d, %Y" }}

            {% if page.author %}
                • by {{ page.author }}
            {% endif %}

            {% if page.categories %}
                • posted in

                <span class="post-meta__data">
                    [{% for category in page.categories %}<a href="/category/{{ category }}/">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}]
                </span>
            {% endif %}
        </p>
    </div>
</header>

<article class="post-content">
    {{ content }}
</article>

<footer class="post-meta post-meta--footer">
    <p>
        This post was written by <strong>{{ page.author }}</strong> on <strong>{{ page.date | date: "%-d %B, %Y" }}</strong>, and last updated on <strong>{{ page.last_modified_at | date: "%-d %B, %Y" }}</strong>.

        {% if page.categories %}
            It was posted in

            <span class="post-meta__data">
                [{% for category in page.categories %}<a href="/category/{{ category }}/">{{ category }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}]
            </span>
        {% endif %}

        {% if page.tags %}
            {% if page.categories %}and{% else %}It was{% endif %}
            tagged with

            <span class="post-meta__data">
                [{% for tag in page.tags %}<a href="/tag/{{ tag }}/">{{ tag }}</a>{% if forloop.last == false %}, {% endif %}{% endfor %}]
            </span>
        {% endif %}
    </p>
</footer>

<div class="post-comments" id="disqus_thread"></div>

<script>
    var disqus_shortname = 'wildlyinaccurate';
    var disqus_url = '{{ page.url | append: '♥♥♥♥' | replace: '/♥♥♥♥', '' | prepend: site.baseurl | prepend: site.url }}';

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
