---
layout: default
---

{% include content-page-header.html %}

<article class="post-content">
    {{ content }}

    <div class="search-container"></div>
</article>

<script src="/js/compiled/Search.js"></script>

<script>
    var xhr = new XMLHttpRequest()
    xhr.onload = onSearchDataLoaded
    xhr.open('get', '/search.json', true)
    xhr.send()

    function onSearchDataLoaded() {
        Elm.embed(
            Elm.Search,
            document.querySelector('.search-container'),
            { getSearchData: JSON.parse(this.responseText) }
        )
    }
</script>
