---
layout: default
---
{% include content-page-header.html %}

<article class="wrap">
    {{ content }}
    <input id="query" class="w-100 p-2" placeholder="Search query">
    <div id="results" class="pt-4"></div>
</article>

{% raw %}
<script type="text/template" id="search-tmpl">
    {{#results.length}}
        <h2>{{results.length}} results for '{{query}}'</h2>
    {{/results.length}}

    {{^results.length}}
        {{#query}}
            <h2>No results found for '{{query}}'</h2>
        {{/query}}
    {{/results.length}}

    {{#results.length}}
        <ul class="ls-n p-0">
        {{#results}}
            <li>
                <h4>
                    <a href="{{url}}">{{#type}}{{type}}:{{/type}} {{title}}</a>
                </h4>
            </li>
        {{/results}}
        </ul>
    {{/results.length}}
</script>
{% endraw %}

<script async src="/js/compiled/search.js"></script>
