---
layout: default
---

<header class="page-header page-header--no-meta">
    {% if page.featured_image %}
        {% assign featured_image = page.featured_image %}
    {% else %}
        {% assign featured_image = 'assets/default-featured-image.jpg' %}
    {% endif %}

    {% responsive_image_block %}
        path: {{ featured_image }}
        template: _includes/featured-image.html
    {% endresponsive_image_block %}

    <div class="container">
        <h1 class="page-header__title">{{ page.title }}</h1>
    </div>
</header>

<article class="post-content">
    {{ content }}

    <input class="search-input" placeholder="Search query">

    <div class="search-results"></div>
</article>

{% raw %}
<script type="text/template" id="tmpl-search-results">
    {{#results.length}}
        <h2 class="search-results__title">Search results for '{{query}}'</h2>
    {{/results.length}}

    {{^results.length}}
        {{#query}}
            <h2 class="search-results__title">No results found for '{{query}}'</h2>
        {{/query}}
    {{/results.length}}

    {{#results.length}}
        <ul class="search-results__results">
        {{#results}}
            <li class="result-item">
                <h4 class="result-item__title">
                    <a class="result-item__link" href="{{url}}">
                        {{#type}}{{type}}:{{/type}} {{title}}
                    </a>
                </h4>
            </li>
        {{/results}}
        </ul>
    {{/results.length}}
</script>
{% endraw %}

<script src="/js/hogan.js"></script>
<script src="/js/search.js"></script>
